.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  padding: 12px 24px;
  gap: 15px;
  width: 219px;
  height: 74px;
  background: #f9f9f9;
  border-radius: 12px;
  border: none;
  text-align: left;
}

img {
  width: 50px;
  height: 50px;
  background: #D9D9D9;
  border-radius: 9999px;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

body {
  position: relative;
  /* width: 241px;
  height: 310px; */
  background: #FFFFFF;
  border-radius: 12px;
}

body::after {
  content: "";
  display: block;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background-color: #E7E7E7;
}

.shield {
  display: flex;
  width: 41px;
  justify-content: center;
  position: absolute;
  left: 26px;
  top: 50px;
  background-color: white;
  border-radius: 9999px;
  color: #171CB3;
  padding: 2px 0;

}

.shield i {
  font-size: 10px;
}

/* button i {
  position: absolute;
  font-size: 12px;
  left: 50px;
  top: 50px;
} */
i {
  font-size: 24px;
}

a:visited {
  color: #0066ff;
}

h1 {
  color: #3B43FF;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  height: 100%;
}

#profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
}
.login{
  align-items: center;
  padding: 12px 24px;
  gap: 15px;
  width: 50px;
  height: 10px;
  background: #f9f9f9;
  border-radius: 12px;
  border: none;
  text-align: left;
}

.login-btn{

}

.login-btn svg{
  width: 24px;
  height: 24px;

}

/* .button {
  padding: 10px 20px;
  background-color: #1e88e5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #1976d2;
} */
